/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mainHeading {
    font-family: system-ui;
    font-size: 60px;
    margin-bottom: 30px;
}

.btn {
    margin: 15px 0px;
}

.numLabel {
    margin: 20px 0px 10px 0px;
}

.numInput {
    width: 150px;
    height: 25px;
    font-size: 20px;
} */